name: CI Linux

on: [push, pull_request]

jobs:
  linux-build:
    strategy:
      fail-fast: false
      matrix:
        m:
        - { os: ubuntu-24.04-arm, configuration: Release, arch: armv7, base_image: --platform=linux/arm/v7 arm32v7/ubuntu:25.04 }
        - { os: ubuntu-24.04-arm, configuration: Release, arch: aarch64, base_image: --platform=linux/arm64 arm64v8/ubuntu:25.04  }
        - { os: ubuntu-24.04, configuration: Release, arch: amd64, base_image: --platform=linux/amd64 amd64/ubuntu:25.04  }
        - { os: ubuntu-24.04, configuration: Debug, arch: amd64, base_image: --platform=linux/amd64 amd64/ubuntu:25.04  }
    runs-on: ${{matrix.m.os}}
    name: 'Linux ${{matrix.m.configuration}} ${{matrix.m.arch}}'
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: 'recursive'

    - name: Save current datetime
      id: date
      run: echo "date=$(date +'%Y-%m-%d_%H-%M')" >> $GITHUB_OUTPUT

    - name: Install libs and build with dpkg-buildpackage for Release or ninja for Debug
      uses: uraimo/run-on-arch-action@v3
      with:
        arch: none
        distro: none
        base_image: ${{matrix.m.base_image}}
        # GitHub token used for caching Docker images in project's public package registry
        githubToken: ${{github.token}}
        # Mount the juffed directory as /artifacts in the container
        dockerRunArgs: |
          --volume "/home/runner/work/juffed/juffed:/artifacts"
        # Install dependencies in the container. They will be cached
        install: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -q -y
          apt-get install -q -y gcc g++ cmake ninja-build qt6-5compat-dev qt6-tools-dev qt6-tools-dev-tools libqscintilla2-qt6-dev libqtermwidget6-2-dev libutf8proc-dev
          # Install debuild dependencies
          apt-get install -q -y pkg-config devscripts debhelper libenca-dev
        run: |
          cmake --version
          if [ "${{matrix.m.configuration}}" == "Release" ]; then
            debuild -b -uc -us
            cp ../*.deb /artifacts
          fi
          if [ "${{matrix.m.configuration}}" == "Debug" ]; then
            mkdir build && cd build && cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{matrix.m.configuration}}
            ninja
          fi

    - name: Release | Upload deb packages
      if: matrix.m.configuration == 'Release'
      uses: actions/upload-artifact@main
      with:
        name: ubuntu-release-${{matrix.m.arch}}-deb-files-${{steps.date.outputs.date}}
        path: ./*.deb
